body {
  background-color: #000;
  overflow: hidden;
}

.main {
  text-align: center;
  color: #fff;
}

.parallax {
  perspective: 1px;
  height: 99vh;
  overflow-x: hidden;
  overflow-y: visible;
}

.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax_layer-front {
  transform: translateZ(-1px) scale(2);
  z-index: 4;
  height: 500px;
  left: 25%;
  right: 25%;
  font-family: Arial;
}

.parallax_layer-front h2 {
  font-size: 50pt;
  padding-top: 60px;
  font-family: "Lucida Console", Lucida, monospace;
}

.parallax_layer-front p {
  font-size: 20pt;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Courier New", Courier, monospace;
}

.image-wrapper {
  margin: 0 auto;
}

.image-wrapper .logo-wrapper {
  max-width: 800px;
}

.image-wrapper .show-wrapper {
  max-width: 1000px;
}

.image-wrapper img {
  width: 100%;
}

.parallax_layer-back {
  transform: translateZ(-5px) scale(6);
  z-index: 2;
  height: 210%;
  background-image: url("images/bg01.png");
}

.parallax_layer-back-back {
  transform: translateZ(-10px) scale(11);
  z-index: 3;
  height: 160%;
  background-image: url("images/bg02.png");
}

.social {
  color: #fff;
  padding: 20px;
}
