body {
  background-color: #000;
}

.main {
  text-align: center;
  color: #fff;
}

.parallax_layer-front h1 {
  font-size: 150pt;
}

.parallax_layer-front h2 {
  font-size: 30pt;
  padding-left: 50px;
  padding-right: 50px;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax_layer-front {
  transform: translateZ(-1px) scale(2);
  top: 20%;
  z-index: 4;
  background-color: #2d8ba2;
  height: 500px;
  left: 50%;
  right: 10%;
}

.parallax_layer-back {
  transform: translateZ(-5px) scale(6);
  z-index: 2;
  height: 200%;
  background-image: url("images/bg01.png");
}

.parallax_layer-back-back {
  transform: translateZ(-10px) scale(11);
  z-index: 3;
  height: 130%;
  background-image: url("images/bg02.png");
}

.col-lg-3 {
  padding-top: 10%;
  position: relative !important;
}

.list-group {
  z-index: 4;
  padding-left: 12%;
  position: relative;
}
